{% extends './base.html' %}
{% load static %}

{% block title %}All Books{% endblock %}
{% block content %}
<main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="h1 fw-bold">Search, Read, Buy, Review</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
            etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Make an account</a>
          </p>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container text-center">
            <div class="pb-3 h5">All Books</div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
            {% for product in products %}
                <div class="col col-lg-4">
                    <div class="card" style="width: 20rem;">
                       <img src="{{product.img.url}}" class="card-img-top" alt="...">
                       <div class="card-body">
                          <h5 class="card-title">{{ product.name}}</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="{{ product.get_absolute_url }}" class="btn btn-primary">book show</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    </main>
{% endblock %}